<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품 상세</title>
</head>

<style>
  .p_container {
      table-layout: fixed;
      width: 90%;
      margin: 0 auto;
      margin-top: 40px;
  }
  .col_left {
    width: 10%;
    text-align: center;
  }
  .p_div {
    float: right;
  }
  </style>

<body>

	<header id="header"></header>
  <!-- <h1 th:text="${product.productName}"></h1>
  <p th:text="${product.productPrice}"></p>
  <p th:text="${product.productDetail}"></p>
  <a th:href="@{/product/productUpdate/{productCode}(productCode=${product.productCode})}">글 수정</a>
<a th:href="@{/product/productDelete?(productCode=${product.productCode})}">글 삭제</a> -->

<div class="p_container">

	<table class="table">
		<tr>
			<td class="col_left">상품명</td>
			<td th:text="${product.productName}"></td>
		</tr>
		<tr>
			<td class="col_left">지역 카테고리</td>
			<td th:text="${product.categoryLocalCode}"></td>
		</tr>
		<tr>
			<td class="col_left">종류 카테고리</td>
			<td th:text="${product.categoryTypeCode}"></td>
		</tr>
		<tr>
			<td class="col_left">상품 가격</td>
			<td th:text="${product.productPrice}"></td>
		</tr>
		<tr>
			<td class="col_left">상품 상세</td>
			<td style="white-space: pre-line;" th:text ="${product.productDetail}"></td>
		</tr>
	</table>

	<button type="button" class="p_list btn btn-light" onclick="location.href='/product/productList'">목록</button>
	<div class="p_div">
		<button type="button" class="p_update btn btn-warning" th:onClick="|location.href='@{/product/productUpdate/{productCode}(productCode=${product.productCode})}'|">수정</button>
		<button type="button" class="p_delete btn btn-danger" th:onClick="|location.href='@{/product/productDelete?(productCode=${product.productCode})}'|">삭제</button>
	</div>

</div>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
	
<script>
$(document).ready(function() {
	// header, footer 불러오기 시작
	
	$('#header').load("../header")
	// $('#footer').load("../footer")
	
	// header, footer 불러오기 끝
})

</script>

</body>
</html>