<!DOCTYPE html>
<html>
    <head>
        <title>Main</title>
    </head>
    <body>
        <h1>
            Welcome Page.
           	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
            <a type="button" href="/logout">Logout</a>
        </h1>
        
        <h3 sec:authorize="hasRole('ADMIN')">Has ADMIN Role</h3>
        
        <h3 sec:authorize="hasRole('SELLER')">Has SELLER Role</h3>

	<!--USER 역할을 갖는다면 이 글이 보임-->
	<h3 sec:authorize="hasRole('USER')">Has USER Role</h3>
 
	<!--어떤 역할이건 상관없이 인증이 되었다면 이 글이 보임-->
	<h3 sec:authorize="isAuthenticated()">Only Authenticated user can see this Text</h3>
 
	<div>
		Authorities : <span sec:authentication="principal.authorities"></span>
	</div>
        
    </body>
</html>