<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:text="${memberVO}"></div>
	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <!--ROLE_USER 권한을 갖는다면 이 글이 보임-->
        <h1 sec:authorize="hasAuthority('ROLE_ADMIN')">Has admin Role</h1>
        <h1 sec:authorize="hasRole('ROLE_ADMIN')">Has admin Role</h1>
        
        <!--ROLE_ADMIN 권한을 갖는다면 이 글이 보임-->
        <h1 sec:authorize="hasAuthority('ROLE_USER')">Has user Role</h1> 
        <h1 sec:authorize="hasRole('ROLE_USER')">Has user Role</h1> 

        <!--어떤 권한이건 상관없이 인증이 되었다면 이 글이 보임-->
        <div sec:authorize="isAuthenticated()">
            Only Authenticated user can see this Text
        </div>
        
        <div sec:authorize="isAnonymous()">
            Only Authenticated user can see this Text
        </div>

        <!--인증시 사용된 객체에 대한 정보-->
        <b>Authenticated DTO:</b>
        <div sec:authentication="principal"></div>

        <!--인증시 사용된 객체의 Username (ID)-->
        <b>Authenticated username:</b>
        <div sec:authentication="name"></div>

        <!--객체의 권한-->
        <b>Authenticated user role:</b>
        <div sec:authentication="principal.authorities"></div>

        <h3 sec:authorize="hasRole('ADMIN')">Has ADMIN Role</h3>
  <h3 sec:authorize="hasRole('ROLE_ADMIN')">Has ADMIN Role</h3>
  <h3 sec:authorize="hasRole('SELLER')">Has SELLER Role</h3>
  <h3 sec:authorize="hasRole('ROLE_SELLER')">Has SELLER Role</h3>
  <h3 sec:authorize="hasRole('USER')">Has USER Role</h3>
  <h3 sec:authorize="hasRole('ROLE_USER')">Has USER Role</h3>

</body>
</html>